
/*need to make this mobile ready, 3 layouts. (style-s, style-m, style). Put common styles in style-s, put everything somewhere else.

PROJECTS: 1 project phones 
2 project othrwise
*/
/* flex displays */
.flexbox-padding-60-l {
    width: 60%;
}
.flexbox-padding-30-l {
    width: 30%;
}
.update-point {
    padding: 8px;
    font-size: 20px;
}
.project {
    padding-left: 1em;
    padding-right: 1em;
    width: 33.333333%; /*works on flex, what should the gap between be? */
}
.project-box {
    border: 3px black solid;
}